* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

body {
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
#scan{
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 100;
}
#status{
	position: absolute;
	bottom: 10%;
	font-size: 20vh;
	width: 100%;
	text-align: center;
}

#status.grant:before {
	color: green;
    content: "\f05d";
}
#status.deny:before {
	color: firebrick;
    content: "\f05c";
}